.login{
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
  img{
    height: 200px;
    width: 100%;
  }
  a{
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    text-decoration: none;
    font-weight: 800;
    color: white;
  }
}